<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
</head>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": true,
            "serverSide": false,
            "ajax": {
                "url": "api/get_cars",
                "type": "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    state: "inactive"
                }
            }
        });
    });
</script>